*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

image {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Header */
.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.header {
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-span-header {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts {
}

.contacts-menu {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.contacts-item {
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion Header */

/* #region Hero */
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
}

.hero-btn:hover,
.hero-btn:focus {
  font-weight: 600;
  background-color: #404bbf;
}
/* #endregion Hero */

/* #region Section 1 */
.feature {
}
.feature-title {
  text-align: center;
}
.feature-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.feature-list {
  width: calc((100% - 3 * 24px) / 4);
}
.feature-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feature-descrip {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion Section 1 */

/* #region Section 2 */
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-menu {
  display: flex;
}
.team-list {
  background-color: #fff;
}
.team-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* #endregion Section 2 */

/* #region Section 3 */
.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list {
  background-color: #fff;
}
.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-descrip {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion Section 3 */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo {
  margin-bottom: 16px;
}
.logo-span-footer {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* #endregion Footer */
